/**
 * Global Layout Styles
 */

html {
  font-size: 14px; // Used by PrimeNG to change the size of everything that is in REM. 1 REM = font-size in px
}

// Application should use the full screen and any overflow (scrolling) is handled in child components
html,
body,
.app-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
