/**
 * Definition of CSS3 variables to be used throughout this projects stylesheets.
 */

:root {
  --clf-blue: #1345F0;
  --clf-green: #00F28A;
  --clf-white: #FFFFFF;
  --clf-black: #0A0A0A;

  --navbar-height: 4rem;
}
