/**
 * Definition of CSS3 variables to be used throughout this projects stylesheets.
 */

:root {
    --clf-blue: #1345f0;
    --clf-green: #00f28a;
    --clf-white: #fff;
    --clf-black: #0a0a0a;
    --navbar-height: 4rem;
}
