/**
 * Definition of CSS3 variables to be used throughout this projects stylesheets.
 */

:root {
    --clf-spacing-1: 4px;
    --clf-spacing-2: 8px;
    --clf-spacing-3: 12px;
    --clf-spacing-4: 16px;
    --clf-spacing-5: 24px;
}
